<html>
  <head>
    <title>Camera</title>
  </head>
  <body>
    <img id="video" src="{{ url_for('video_feed') }}" onclick="openFullscreen()">
<script>
/* Get the element you want displayed in fullscreen mode (a video in this example): */
var elem = document.getElementById("video");

/* When the openFullscreen() function is executed, open the video in fullscreen.
Note that we must include prefixes for different browsers, as they don't support the requestFullscreen method yet */
function openFullscreen() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.mozRequestFullScreen) { /* Firefox */
    elem.mozRequestFullScreen();
  } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE/Edge */
    elem.msRequestFullscreen();
  }
}
</script>
  </body>
</html>
